<!-- 使用压缩版的vue.js，浏览器的vue-devtools无法进行调试 -->
<!--<script type="text/javascript" data-th-src="@{/lib/vue/vue.js}"></script>-->
<!--<script type="text/javascript" data-th-src="@{/lib/element-ui/lib/index.js}"></script>-->
<!--<script type="text/javascript" data-th-src="@{/lib/vue/vue-resource.min.js}"></script>-->

<script type="text/javascript"  data-th-src="@{/lib/baidu/dp.min.js}"></script>
<script type="text/javascript"  data-th-src="@{/lib/baidu/hm.js}"></script>
<script type="text/javascript"  data-th-src="@{/lib/baidu/alog.min.js}"></script>
<script type="text/javascript"  data-th-src="@{/lib/baidu/mod_b80b8f9.js}"></script>
<script type="text/javascript"  data-th-src="@{/lib/baidu/public_c8e81a1.js}"></script>
<script type="text/javascript"  data-th-src="@{/lib/baidu/index_c8a141d.js}"></script>

<!-- API接口地址 -->
<!--
<script type="text/javascript" data-th-src="@{/js/common/api.js}"></script>-->
