<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Welcome<br/>
<input id="text" type="text" /><button onclick="send()">Send</button>  <button onclick="closeWebSocket()">Close</button>
<div id="message">
</div>

<input type="hidden" id="token" value="${token}">
<!-- 公共JS -->
<script type="text/javascript"  data-th-src="@{/js/jquery.min.js}"></script>

<script type="text/javascript">
    var userID="888";
    var websocket=null;
    $(function() {

        //创建WebSocket
        connectWebSocket();
    })

    //强制关闭浏览器 调用websocket.close（）,进行正常关闭
    window.onunload = function() {

        //关闭连接
        closeWebSocket();
    }

    //建立WebSocket连接
    function connectWebSocket(){

        console.log("开始...");

        var token = $("#token").val();

        console.log("token===="+token);
        //建立webSocket连接
        websocket = new WebSocket("ws://127.0.0.1:9091/websocket/myHandler?token="+token);

        //打开webSokcet连接时，回调该函数
        websocket.onopen = function () {
            var msg = JSON.stringify({userId: '888', token:"init:session:0-L000190731154025"});
            this.websocket.send(msg);
            console.log("onpen");
        }

        //关闭webSocket连接时，回调该函数
        websocket.onclose = function () {
            //关闭连接
            console.log("onclose");
        }

        //接收信息
        websocket.onmessage = function (msg) {
            console.log(msg.data);
        }
    }

    //发送消息
    function send(){
        var postValue={};
        postValue.userId=userID;
        postValue.msg=$("#text").val();
        websocket.send(JSON.stringify(postValue));
    }
    //关闭连接
    function closeWebSocket(){
        if(websocket != null) {
            websocket.close();
        }
    }

</script>
</body>
</html>