<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <meta charset="UTF-8">
</head>
<!-- footer -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<footer role="footer" class="footer" style=" height: 65px">
    <div class="footer-inner">

        <div class="footer-copyright">
            <p th:text="${videoLanguage.copyright}"></p>
            <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
        </div>
    </div>
</footer>
</html>