<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<!-- footer -->
<footer role="footer" class="footer" style=" height: 65px">
    <div class="footer-inner">

        <div class="footer-copyright">
            <p th:text="${videoLanguage.copyright}"></p>
            <p th:text="${videoLanguage.kxtv}"></p>
        </div>
    </div>
</footer>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
</html>